*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,body{
height: 100%;
}

header{
  width: 100%;
  height:100%;
  background:#061217;
  background-image:url("../images/Background.png");
  background-size: cover;
  -moz-background-size:cover;
  background-repeat: no-repeat;
}
canvas {
  display: block;
  vertical-align: bottom;
}
.mid-header{
  margin-top: 70px;
  /*position: relative;*/
}
.bg-inkfo{
  background:#f9be09;
  padding: 30px;
  width: 100%;
  height: 240px;
}
